body
{
    overflow: hidden;
background-color:black;
}

#svgbox
{
    width:70vmin;
    height:70vmin;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.crown-1
{
    fill:brown;  
}
.crown-2-left{
    fill:NONE;
}
.crown-2-right{
    fill:NONE;
}
.bottom-1
{
    fill:none;
}
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        svg path {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: draw 2s linear forwards;
        }
     
        .crown-1 path:nth-child(1) {
            animation-delay: 0s;
        }
        .crown-1 path:nth-child(2) {
            animation-delay: 1s;
        }
        .crown-2-left path:nth-child(1) {
            animation-delay: 2s;
        }
        .crown-2-left path:nth-child(2) {
            animation-delay: 3s;
        }
        .crown-2-left path:nth-child(3) {
            animation-delay: 4s;
        }
        .crown-2-right path:nth-child(1) {
            animation-delay: 5s;
        }
        .crown-2-right path:nth-child(2) {
            animation-delay: 6s;
        }

        .crown-2-right path:nth-child(3) {
            animation-delay: 7s;
        }
        .bottom-1 path:nth-child(1) {
            animation-delay: 8s;
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }





for 300=5
200=3
100=1/

